.sx-header {
    // border-bottom: 3px solid @border-dark;
    padding: 18px;
    background: #dedbdb;
    // background: @lightest-grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
     h1{
       text-transform: uppercase;
     }
    }
  }