.sx-home{
    display: flex;
    .filter-section, .result-section{
        display: flex;
        flex-wrap: wrap;
    }
    .filter-section {
        min-width: 20%;
    }
    .result-section {
        min-width: 80%;
        .result-tile {
            flex-basis: 25%;
        }
    }
}