<section class="sx-filter-section">
    <div class="filter">
            <div class="filter-heading">Launch Date</div>
            <div class="filter-items">
                <button class="item" v-for="year in launchYears">{{year}}</button>
            </div>
    </div>
    <div class="filter">
            <div class="filter-heading">Launch Date</div>
            <div class="filter-items">
                <button class="item" v-for="year in launchYears">{{year}}</button>
            </div>
    </div>
    <div class="filter">
            <div class="filter-heading">Launch Date</div>
            <div class="filter-items">
                <button class="item" v-for="year in launchYears">{{year}}</button>
            </div>
    </div>
    
</section>