<section class="sx-filter-section">
        <div class="filter">
                <h2>FILTERS</h2>
                <hr/>
                <h3 class="filter-heading">Launch Date</h3>
                <div class="filter-items">
                    <button class="item" :class="{'active': currentFilter.launch_year && currentFilter.launch_year === year}" v-for="year in launchYears" @click="applyFilter('launch_year',year)">{{year}}</button>
                    <!-- <template v-for="year in launchYears">
                            <sx-filter-button @clicked="applyFilter('launch_date',year)" :value="year"></sx-filter-button>
                    </template> -->
                </div>
        </div>
        <div class="filter">
            <h3 class="filter-heading">Successful Launch</h3>
            <div class="filter-items">
                    <button class="item" :class="{'active': currentFilter.launch_success && currentFilter.launch_success === 'true'}" @click="applyFilter('launch_success','true')">True</button>
                    <button class="item" :class="{'active': currentFilter.launch_success && currentFilter.launch_success === 'false'}" @click="applyFilter('launch_success','false')">False</button>
            </div>
        </div>
        <div class="filter">
            <h3 class="filter-heading">Successful Landing</h3>
            <div class="filter-items">
                    <button class="item" :class="{'active': currentFilter.land_success && currentFilter.land_success === 'true'}" @click="applyFilter('land_success','true')">True</button>
                    <button class="item" :class="{'active': currentFilter.land_success && currentFilter.land_success === 'false'}" @click="applyFilter('land_success','false')">False</button>
            </div>
        </div>
    </section>