.sx-card{
  display: flex;
  flex-direction: column;
  background: @white;
  border-radius: 5px;
  padding: 0 16px 16px;
  margin: 0 8px 24px;
p{
    margin: 10px 0 0;
}
.mission-name{
    color: @dark-blue;
    text-transform: uppercase;
}
.info-text {
    color : @light-blue;
}
.image-section {
    width: 180px;
    height: 180px;
    background: @lightest-grey;
    border-radius: 1%;
    margin: 12px auto;
    img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: @screen-xs-max) {
    margin: 0 0 32px;
}
}