.sx-card{
  display: flex;
  flex-direction: column;
  background: @white;
  border-radius: 5px;
  padding: 0 16px 16px;
  margin: 0 8px 24px;
// p {
//   margin-bottom: auto;
// } /* Push following elements to the bottom */
// a {
//   margin-top: auto;
// }
// p {
//   flex-grow: 1;
// }
p{
    margin: 10px 0 0;
}
.image-section {
    width: 180px;
    height: 180px;
    background: lightgrey;
    border-radius: 1%;
    margin: 0 auto;
    img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: @screen-xs-max) {
    margin: 0 0 32px;
}
}