<div class="sx-card">
    <div class="image-section">
        <img class="card-img" :src="cardInfo.links.mission_patch_small" :alt="cardInfo.mission_name" />
    </div>
    <p class="mission-name">{{cardInfo.mission_name}}</p>
    <p>Mission Id</p>
    <ul v-for="id in cardInfo.mission_id">
        <li class="info-text">{{id}}</li>
    </ul>
    <p>Launch Year <span class="info-text">{{cardInfo.launch_year}}</span></p>
    <p>Successful Launch <span class="info-text">{{cardInfo.launch_success}}</span></p>
    <p>Successful landing <span v-if="cardInfo.rocket && cardInfo.rocket.first_stage && cardInfo.rocket.first_stage.cores[0] && cardInfo.rocket.first_stage.cores[0].land_success" class="info-text">{{cardInfo.rocket.first_stage.cores[0].land_success}}</span></p>
</div>